.animal-spotlight {
    max-width: 400px;
    display: flex;
    /* border: 1px dashed gray; */
    padding: 10px;
    position: fixed;
  }

  .animal-spotlight-header {
    max-width: 400px;
    font-size: 1em;
    /* border: 1px dashed gray; */
    padding: 10px;
    position: fixed;
    right: 100px;
    top: 180px;
  }

  .animal-spotlight-header button {
      font-size: .5em;
      height: 10px;
      width: 50px;
      position: absolute;
      left: 200px;
      top: 70px;
  }
  
  .animal-spotlight img {
    width: 200px;
    margin-right: 20px;
  }
  
  .animal-spotlight p {
    color: black;
  }